<div class="index">

    <div class="index-header ">
       <div class="date">
           <span class="day">06</span>
           <span class="month">Aug.</span>
       </div>

        <div class="slogan">
            <i class="icon certificate"></i>
            <span>爱车没有洗干净之前，一切总看似不可能。</span>
        </div>

        <div class="tools">
            <a href="#"><i class="icon alarm outline"></i></a>
            <a href="#"><i class="icon ellipsis horizontal"></i></a>
        </div>
    </div>

    <div class="index-service">
        <div class="item">
            <span class="name">保养</span>
            <span class="sub">Maintenance</span>
        </div>

        <div class="item active">
            <span class="name">洗车</span>
            <span class="sub">Vehicle Cleaning</span>
        </div>

        <div class="item">
            <span class="name">维修</span>
            <span class="sub">Maintenance</span>
        </div>

    </div>

    <div class="index-main">

        <div class="item" ng-click="toggleSelectCar()">
            <div class="name">
                <i class="icon car"></i>
                <span>{{current.car.pn}}</span>
            </div>
            <span class="sub">
                <span>{{current.car.model}}</span>
            </span>
        </div>

        <div class="item" ng-click="toggleSelectShop()">
            <div class="name">
                <i class="icon building"></i>
                <span>
                    速途驰佳中铁国际城店
                    <div class="floating ui orange label">最常去</div>
                </span>
            </div>
            <div class="sub">
                <span>庐阳区清源路中铁国际城一期</span>
            </div>
            <div class="sub">
                <span class="orange">普洗(轿车) 费用 15元</span>
            </div>
        </div>

        <div class="item" ng-click="toggleSelectTime()">
            <div class="name">
                <i class="icon time"></i>
                <span>  {{current.time.label}}</span>
            </div>
            <div class="sub times">

                <span  class="{{time.id == current.time.id?'selected':''}}" ng-click="selectTimeQuick(time,$event)" ng-repeat="time in times_quick ">
                    {{FormatTimeLabel(time.label)}}
                </span>
            </div>
        </div>

    </div>

    <div class="index-start">
        <button class="ui green button big fluid">
            一键预约
        </button>
    </div>

    <div class="index-footer">

        <div class="item">
            <i class="icon empty heart"></i>
            <span class="name">优惠活动</span>
            <div class="floating ui red label">2</div>
        </div>

        <div class="item">
            <i class="icon car"></i>
            <span class="name">默认车辆</span>
        </div>

        <div class="item">
            <i class="icon building outline"></i>
            <span class="name">默认店面</span>
        </div>

    </div>

</div>


<coo-modal size="small" show="isShowSubmit">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon add to cart"></i> 预约订单确认
    </div>
    <div class="description">
        <div class="ui header">李鹏飞先生：</div>
        <p>您的爱车皖APF630预约了以下服务，请确认</p>

        <div class="ui list">
            <div class="item">
                <i class="icon time"></i>
                <div class="content">今天下午15点</div>
            </div>
            <div class="item">
                <i class="icon building"></i>
                <div class="content">速途驰加中铁国际城店</div>
            </div>
            <div class="item">
                <i class="icon user"></i>
                <div class="content">
                    轿车普洗 服务，预计费用 15元
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="ui button fluid close" ng-click="toggleSubmit()">
            容我三思
        </button>
        <button class="ui green button fluid" >
            确认
        </button>
        <button class="ui blue button fluid">
            确认并导航至门店
        </button>
    </div>

</coo-modal>

<coo-modal size="large" show="isShowSelectCar">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon car"></i> 选择车辆
    </div>
    <div class="description">
        <div class="ui list car-selector">
            <div class="item car {{activeCarCls(car)}}" ng-repeat="car in cars" ng-click="selectCar(car)">
                <div class="pn">{{car.pn}}</div>
                <div class="model">{{car.model}}</div>
                <i class="icon checkmark"></i>
            </div>
        </div>
    </div>

</coo-modal>

<coo-modal size="large" show="isShowSelectTime">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon time"></i> 选择时间
    </div>
    <div class="description">
        <div class="ui list time-selector">
            <div class="item" ng-repeat="(index,timesOfDay) in times">
                <div class="ui mini orange label title">{{index == 0 ?'今天':(index == 1 ?'明天':'后天')}}</div>
                <div class="times">
                    <span ng-repeat="time in timesOfDay" class="{{selectTimeCls(time)}}" ng-click="selectTime(time)">
                        {{Date(time.time) | date:'HH:mm'}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</coo-modal>

<coo-modal size="large" show="isShowSelectShop">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon building outline"></i> 选择门店
    </div>
    <div class="description">
        <div class="ui green secondary pointing menu three item ">
            <a class="item active">快速选择 </a>
            <a class="item">我的收藏</a>
            <a class="item">所有门店 </a>
        </div>
        <div  class="shop-selector">
            <div class="ui label small orange">最常去的门店</div>

            <div class="shop" ng-repeat="shop in shops_quick | filter:{category:'最常去'}">
                <img ng-src="{{shop.img}}">
                <div class="name">{{shop.name}}</div>
                <div class="address">{{shop.address}}</div>
                <div class="stars">
                    <i class="icon star orange"></i>
                    <i class="icon star orange"></i>
                    <i class="icon star orange"></i>
                </div>
                <div class="addition">
                    <div>
                        <i class="icon marker"></i>
                        {{shop.distance}}
                    </div>
                    <div>
                        <i class="icon comment"></i>
                        {{shop.comment}}
                    </div>
                    <div>
                        <i class="icon marker"></i>
                        {{shop.sold}}
                    </div>
                </div>
            </div>

            <div class="ui label small green">最近的门店</div>

            <div class="shop" ng-repeat="shop in shops_quick | filter:{category:'最近的'}">
                <img ng-src="{{shop.img}}">
                <div class="name">{{shop.name}}</div>
                <div class="address">{{shop.address}}</div>
                <div class="stars">
                    <i class="icon star"></i>
                    <i class="icon star"></i>
                    <i class="icon star"></i>
                </div>
                <div class="addition">
                    <div>
                        <i class="icon marker"></i>
                        {{shop.distance}}
                    </div>
                    <div>
                        <i class="icon comment"></i>
                        {{shop.comment}}
                    </div>
                    <div>
                        <i class="icon marker"></i>
                        {{shop.sold}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</coo-modal>

