.ui.page.dimmer{
    position: absolute;
}

.index{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

    background:#fcfcfc;
}



.index-header{
    position: relative;
    padding:12px 16px;
    background: #1aa586;
    color: #fff;

    /*height:76px*/
}

.index-header > .date{
    height:40px;
    line-height: 32px;
    font-weight: bold;
}

.index-header > .date > .day{
    font-size:32px;
}

.index-header > .slogan {
    height:12px;
    line-height: 12px;
    font-size: 12px;
}

.index-header > .slogan > .icon{
    font-size:13px;
    color: #ffad48;
}

.index-header > .tools{
    position: absolute;
    right:12px;
    top:16px;
}

.index-header > .tools > a{
    font-size:20px;
    color: #f0f0f0;
}



.index-service {
    position: relative;
    padding: 46px 0 12px 0;
    background: #1aa586;
    color: #fff;

    height:120px;
}

.index-service > .item{
    display: inline-block;
    position: absolute;
    height: 62px;
    width: 33.33%;
    text-align: center;
    color: #f0f0f0;

    vertical-align: bottom;
    padding-top:22px;

}

.index-service > .item.item0{
    left:0;
}

.index-service > .item.item1 {
    left: 33.33%;
}

.index-service > .item.item2 {
    left: 66.66%;
}

.index-service > .item > .name{
    display:block ;
}

.index-service > .item > .sub{
    display:block ;
    font-size: 12px;

}

.index-service > .item.item1{
    padding-top:0;
}

.index-service > .item.item1 > .name{
    line-height: 42px;
    font-size: 32px;
    color:#fff;
}

.index-service > .item.item1 > .sub{
    font-size: 14px;
    color:#fff;
}

.index-service:after{
    clear:both;
    display: block;
    content:''
}



.index-main {
    position: absolute;
    top: 196px;
    bottom: 106px;
    width: 100%;
    padding: 26px 32px 0 32px;

    overflow-y: auto;;
}

.index-main > .item{
    padding-bottom: 24px;
    display: block;
    position: relative;

}

.index-main > .item > .name{
    position: relative;
    display: inline-block;
    color:#666666;
    font-size: 20px;
    line-height: 36px;
}

.index-main > .item > .name > .icon {
    margin-right: 12px;
    font-size: 20px;
    color: #1aa586;
}

.index-main > .item  > .name > span > {
    display: inline-block;
    position: relative;
}

.index-main > .item > .name > span > .ui.floating.label {
    padding: 0.3em 0.4em;
    top: -12px;
    width: 42px;
    text-align: center;
    opacity: 0.8;
}

.index-main > .item > .sub{
    display: block;
    padding-left:42px;
    color: #999;
    line-height: 20px;
}

.index-main > .item > .sub.times > span{
    display: inline-block;
    margin-right: 8px;
}

.index-main > .item > .sub.times > span.selected{
    color:#1aa586;
}

.index-main > .item > .sub.orange > span{
    color:#f2711c;
}



.index-start {
    position: absolute;
    bottom: 50px;
    right: 32px;
    left: 32px;
}

.index-start > .ui.green.button{
    border-radius:0;
    font-family: "Microsoft YaHei UI";
    font-weight:normal;
    height:46px;
}



.index-footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    padding: 0 32px;
}

.index-footer > .item{
    position: relative;
    display: block;
    float: left;
    /*width:33.33%;*/
    width:50%;
    line-height: 36px;

    text-align: center;
    font-size: 12px;
    color: #999;
}

.index-footer > .item > i.icon{
    margin: 0;
}

.index-footer > .item > .ui.floating.label {
    top: -4px;
    padding: 0.3em 0.4em;
    opacity: 0.9;
    font-weight: normal;
}



.car-selector > .car{
    position:relative;
    margin-bottom: 12px;
}

.car-selector > .car:last-child{
    margin-bottom: 0;
}

.car-selector > .car > .pn{
    font-size: 18px;
    line-height:26px;
}

.car-selector > .car > .model {
    font-size: 12px;
    color:#999;
}

.car-selector.ui.list > .item > i.icon{
    display: none;
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 22px;
    color: #1aa586;
}

.car-selector > .car.selected > .pn {
    color: #1aa586;
}

.car-selector > .car.selected > .model {
    color: #1aa586;
}

.car-selector.ui.list > .item.car.selected > i.icon{
    display: block;
}



.time-selector > .item > .title{
    padding: 0.3em 0.6em;
}

.time-selector > .item > .times {
    margin: 12px 0 10px 12px;
    padding: 0 0 0 12px;
    border-left: 1px dotted #ccc;
}

.time-selector > .item > .times > span{
    display: inline-block;
    padding: 6px 8px;
    margin:0 6px 8px 0;
    font-size: 16px;
    color:#1aa486;
    width:56px;
}


.time-selector > .item > .times > span.used{
    color:#ccc;
}

.time-selector > .item > .times > span.selected{
    color:#f2711c;
    font-weight: bold;
}



/*shop selector*/



.shop-selector > .shop {
    position: relative;
    display: block;
    padding:6px 6px 6px 110px ;
}

.shop-selector > .shop > img{
    position: absolute;
    left: 0;
    top:6px;
    height: 65px;
    width: 100px;
    border-radius: 4px;
}

.shop-selector > .shop > .name{
    line-height: 14px;
    font-size:14px;
    padding-bottom: 4px;
    color: #333;
}
.shop-selector > .shop > .address{
    line-height: 12px;
    font-size:12px;
    padding-bottom: 2px;
    color: #999;
    height:14px;
    display: block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
}


.shop-selector > .shop.selected > .name{
    font-weight:bold;
    color: #f2711c;
}

.shop-selector > .shop > .ratings{
    height: 12px;
    margin: 4px 0 6px 0;
}

.shop-selector > .shop > .addition{
    height: 16px;
}

.shop-selector > .shop > .addition > div{
    display: inline-block;
    float: left;
    margin-right: 10px;
    color:#999;
    font-size: 12px;
}

.shop-selector > .shop > .addition > div > .icon{
    margin-right: 0;
    font-size: 12px;
}

.shop-selector > .shop > .ui.ribbon.label{
    position: absolute;
    top:10px;
    left:-7px;
    margin-left:0;
    padding: 4px 8px;
    opacity: 0.9;
}

.shop-selector > .shop > .ui.ribbon.label:after{
    border-width: 0em 0.6em 0.6em 0em
}


.map-selector{
    position: relative;
}
.map-selector > .shops{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 90px;

    background: rgba(0,0,0,.6);
    border:1px solid #f0f0f0;
}

.map-selector > .map {
    height: 360px;
    width: 100%;
    background: #fff;
}


.map-selector > .shops > .shop{
    position: relative;
    display: block;
    padding:12px 0px 6px 106px;
}

.map-selector > .shops > .shop > img{
    position: absolute;
    left: 6px;
    top:12px;
    height: 68px;
    width: 94px;
    border-radius: 4px;
}

.map-selector > .shops > .shop > .name{
    line-height: 14px;
    font-size:13px;
    padding-bottom: 4px;
    color: #fff;
}
.map-selector > .shops > .shop > .address{
    line-height: 12px;
    font-size:12px;
    padding-bottom: 2px;
    color: #fcfcfc;
    height:14px;
    display: block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-text-overflow:ellipsis;
}

.map-selector > .shops > .shop > .ratings{
    height: 12px;
    margin: 4px 0 6px 0;
}

.map-selector > .shops > .shop > .addition{
    height: 16px;
}

.map-selector > .shops > .shop > .addition > div{
    display: inline-block;
    float: left;
    margin-right: 10px;
    color:#f0f0f0;
    font-size: 12px;
}

.map-selector > .shops > .shop > .addition > div > .icon{
    margin-right: 0;
    font-size: 12px;
}

.map-selector .shop-change {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 36px;
    width: 60px;
    line-height: 90px;
}

.map-selector .shop-change.right{
    right:0;
    left:auto;
    text-align: right;
}

.map-selector .shop-index{
    position: absolute;
    right: 4px;
    top:4px;
    color: #fff;
}

/** iphone 5 5s se**/
@media screen and (max-width: 320px) {
    .index-service{
        padding: 16px 0 10px 0;

        /**46 12 **/
        height:88px;
    }

    .index-main {
        top: 156px;
        /*padding: 20px 32px 90px 32px;*/
    }

    .index-main > .item{
        padding-bottom: 10px;

    }

    .index-main > .item > .name{
        font-size: 16px;
        line-height: 28px;
    }

    .index-main > .item > .name > .icon{
        font-size: 16px;
    }

    .index-main > .item > .sub {
        font-size: 13px;
        padding-left: 36px;
    }

    .map-selector > .map{
        height: 300px;
    }
}