.membership{}

.membership > .page-header > img{
    position: absolute;
    left:12px;
    top:14px;

    height:80px;
}
.membership > .message{
    color: #999;
}
.membership > .message > a{
    float: right;
}

.membership > .services > .service {
    position: relative;
    padding: 12px 12px 12px 24px;
    background: #ffc82c;
    margin-top:16px;

    box-shadow: 0px 2px 4px -2px rgba(0,0,0,.2);

}

.membership > .services > .service > .ooo,
.membership > .services > .service > .ooo:after,
.membership > .services > .service > .ooo:before{
    display: block;
    position: absolute;
    left:-6px;
    top:11px;

    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: #fcfcfc;

}

.membership > .services > .service > .ooo:before,
.membership > .services > .service > .ooo:after{
    top:20px;
    left:-1px;
    content:''
}
.membership > .services > .service > .ooo:after{
    top:42px;
}

.membership > .services > .service > .ooo:first-child{
    right:-8px;
    left:auto;
}

.membership > .services > .service > .name{
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
}

.membership > .services > .service > .expire{
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}

.membership > .services > .service > .times {
    position: absolute;
    right: 14px;
    top: 22px;
    color: #fff;
    font-size: 42px;
}

.membership > .services > .service > .times > span{
    font-size: 12px;
}


.membership > .pay{
    position: absolute;
    left:0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    padding: 10px 136px 10px 10px;
    height:60px;

    border-top:1px solid #f0f0f0;
}

.membership > .pay > .btn-pay{
    position: absolute;
    top:-1px;
    right: 0px;
    bottom:0px;

    display: inline-block;
    line-height: 61px;
    font-size:18px;
    color: #fff;
    background: #1aa586;
    text-align: center;
    width: 110px;
}

.membership > .pay > .package{
    position: relative;

}

.membership > .pay > .package > .icon {
    position: absolute;
    top: 10px;
    right: -24px;
    font-size: 16px;
    color: #ccc;
}

.membership > .pay > .package > .name {
    display: block;
    font-size: 16px;
    color: #666;
    line-height: 16px;
    margin-bottom: 8px;
}

.membership > .pay > .package > .price{
    display: block;
    font-size: 12px;
    color: #ff761d;
    line-height: 16px;

    height:16px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.membership > .pay > .package > .price > s{
    color: #ccc;
}


.package-selector > .package{
    position: relative;
    padding: 12px 0px;
    border-bottom: 1px dotted #f0f0f0;
}


.package-selector > .package > .name{
    display: block;
    font-size: 16px;
    color: #666;
    line-height: 16px;
    margin-bottom: 10px;
}
.package-selector > .package > .services > .service{
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 14px;
}
.package-selector > .package > .price{
    font-size: 14px;
    color: #ff761d;
    line-height: 16px;
    position: absolute;
    right:10px;
    top:12px;
}
.package-selector > .package > .oldPrice{
    color: #ccc;
    line-height: 16px;
    font-size: 12px;
    position: absolute;
    right:10px;
    top:32px;
}

.package-selector > .allpackages{
    line-height: 36px;
    text-align: right;
}




.packages{

}

.packages > .package-list > .package{
    border:1px solid #f0f0f0;
    padding: 46px 12px 4px 12px;

    position: relative;
    background: #fff;
}

.packages > .package-list > .package > .price {
    position: absolute;
    top: 12px;
    right: 10px;
    color: #ff761d;
    font-size: 14px;
}

.packages > .package-list > .package > .oldPrice {
    position: absolute;
    top:32px;
    right:10px;
    color: #ccc;
    font-size: 12px;
}

.packages > .package-list > .package > .name{
    position: absolute;
    top:10px;
    left:-8px;
    margin-left:0;
    padding: 8px 12px;
    opacity: 0.9;
    font-size: 14px;
    border-radius: 0;
}

.packages > .package-list > .package > .name:after {
    border-width: 0em 0.6em 0.6em 0em
}

.packages > .package-list > .package > .services{
    padding: 12px 0;
}

.packages > .package-list > .package > .services > span{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 20px;
    color:#ccc;
}

.packages > .package-list > .package > .services > .service{
    color: #1aa586;
    line-height: 18px;
}

.packages > .package-list > .package > .description {
     color: #999;
     line-height: 18px;
     padding: 6px 0;
 }

.packages > .package-list > .package > .expire {
    text-align: right;
    color: #999;
    line-height: 18px;
    font-size: 12px;
}

.packages > .package-list > .package > .btn-pay {
    display: block;
    padding: 10px 0 6px 0;
    margin-top: 6px;
    text-align: center;
    color: #999;
    border-top: 1px solid #f0f0f0;
}