<div class="membership page-with-title">
    <div class="page-header">
        <img src="public/images/card.png">
        <div class="title">
            会员卡
        </div>
        <div class="sub">
            {{membership.obj.VIPNo || '-'}}
        </div>
    </div>

    <div class="tools">
        <div class="ui buttons two fluid " style="padding: 0 0 12px 0;">
        <button class="ui button basic green one" ng-click="createPayCode()">
            <i class="icon barcode"></i>
            支付码
        </button>
        <button class="ui button basic green one"  ng-click="path('/membership/package')">
            <i class="icon add to cart"></i>
            所有套餐
        </button>
    </div>

        <div class="message">
            <span ng-show="membership.obj != null && membership.obj.VIPCardItems != null && membership.obj.VIPCardItems.length > 0">卡内可用服务和次数</span>
        </div>
    </div>


    <div class="services">
        <div class="service" ng-repeat="item in membership.obj.VIPCardItems" ng-click="path('/appointment')">
            <div class="ooo"></div>
            <div class="ooo"></div>

            <div class="name">{{item.ItemName}}</div>
            <div class="expire">有效期至：{{(item.ExpireTime == null || item.ExpireTime == '2099-01-01 00:00:00' || item.ExpireTime == '')?'永久':item.ExprireTime}}</div>
            <div class="times">{{item.SurplusValue}}<span>次</span></div>
        </div>
    </div>
    <div class="noService" ng-click="path('/membership/package')" ng-if="membership.obj == null || membership.obj.VIPCardItems == null || membership.obj.VIPCardItems.length == 0">
        卡内暂无可使用的服务次数
        <br>
        点此选择优惠套餐充值
    </div>


    <div class="pay">
        <div class="package" ng-click="packageModalVisible = true" ng-show="packageToPay!=null">
            <span class="name">{{packageToPay.TemplateName}}</span>

            <div class="price">
                <s class="priceOld" ng-if="false">100元</s>
                {{packageToPay.Price}}元/
                <span ng-repeat="item in packageToPay.VipCardTemplateItems">
                    {{item.ItemName}} {{item.Amount}}次
                </span>
            </div>
            <i class="icon angle arrow up"></i>
        </div>
        <div class="empty" ng-if="packageToPay == null">
            暂无可充值套餐
        </div>
        <div class="btn-pay {{packageToPay == null ?'gray':''}}" ng-click="toPay()">
            快速充值
        </div>
    </div>


</div>

<coo-modal show="packageModalVisible" size="large">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon add top cart outline"></i> 推荐套餐
    </div>

    <div class="description package-selector" >
        <div class="package" ng-repeat="item in package.items | limitTo:2" ng-click="package.select(item)">
            <div class="name">{{item.TemplateName}}</div>
            <div class="services">
                <div class="service" ng-repeat="service in item.VipCardTemplateItems">{{service.ItemName}} {{service.Amount}} 次</div>
            </div>
            <div class="price">优惠价：{{item.Price}} 元</div>
            <s class="oldPrice" ng-if="false">原价：200元</s>
        </div>
        <div class="allpackages">
            <a ng-click="path('/membership/package')">去看看所有套餐</a>
        </div>
    </div>
</coo-modal>

<coo-loader show="loaderVisible"></coo-loader>

<coo-modal size="small" show="confirm.modalVisible">
    <i class="icon close" ng-if="confirm.closable" ng-click="confirm.modalVisible = false"></i>
    <div class="title">
        <i class="icon warning sign"></i> {{confirm.title}}
    </div>
    <div class="description">
        <p style="{{confirm.isError?'color:red':''}}" ng-bind-html="confirm.message"></p>
    </div>
    <div class="buttons">
        <button class="ui button fluid {{confirm.isError ? 'orange':'green'}}"  ng-click="confirm.callback()">
            {{confirm.btnText}}
        </button>
    </div>
</coo-modal>
