<div class="orders page-with-title-and-tabs">
    <div class="page-header">
        <div class="tools">
            <a ng-click="path('/appointment')">
                <i class="icon angle arrow left"></i>
            </a>
        </div>
        <div class="title">
            我的预约
        </div>
        <div class="sub">
            我的预约历史纪录
        </div>
    </div>
    <div class="page-tabs">
        <div class="ui green secondary pointing menu five item ">
            <a class="item {{key == category?'active':''}}" ng-repeat="(key,value) in categories" ng-click="categorySelect(key)">{{value.label}}</a>
        </div>
    </div>


    <div class="noOrders" ng-if="hasOrders() == false">
        没有相关预约
    </div>

    <div ng-repeat="item in orders" ng-if="hasOrders()">
        <div class="order-list">
            <div class="orderDetail" ng-repeat="appointment in item.Appointments | filter:{Status:category}">
                <img ng-src="{{appointment.StoreImage}}">
                <div class="appointment">{{appointment.AppointmentType}}</div>
                <div class="carNum">{{appointment.CarNum}}</div>
                <div class="storeName">{{appointment.StoreName}}</div>
                <div class="date">{{appointment.TimeOfWeek}} ({{appointment.AccurateStartTime}})</div>
                <span class="status ui left ribbon label  {{categories[appointment.Status].color}}">{{categories[appointment.Status].label}}</span>
            </div>
        </div>

    </div>

</div>

<coo-loader show="loaderVisible"></coo-loader>