<div class="packages page-with-title">
    <div class="page-header">
        <div class="tools">
            <a ng-click="path('/membership')">
                <i class="icon angle arrow left"></i>
            </a>
        </div>
        <div class="title">
            会员套餐
        </div>
        <div class="sub">
            会员优惠套餐，优惠多多欢迎购买
        </div>
    </div>

    <div class="package-list">
        <div class="package" ng-repeat="item in packages" ng-click="toPay(item)">
            <div class="ui label ribbon orange name">{{item.TemplateName}}</div>
            <div class="services">
                <div class="service" ng-repeat="service in item.VipCardTemplateItems">{{service.ItemName}} {{service.Amount}}次</div>
            </div>
            <div class="description" ng-if="false">
                123qwewq
            </div>
            <div class="expire"  ng-if="false">
                有效期:365天
            </div>

            <div class="price">{{item.Price}}元</div>
            <s class="oldPrice" ng-if="false">原价:200元</s>

            <div class="btn-pay">
                购买
            </div>
        </div>
    </div>

    <div class="noPackage" ng-if="packages == null || packages.length == 0">
        暂无可选购套餐，敬请期待
    </div>

</div>

<coo-loader show="loaderVisible"></coo-loader>

<coo-modal size="small" show="confirm.modalVisible">
    <i class="icon close" ng-if="confirm.closable" ng-click="confirm.modalVisible = false"></i>
    <div class="title">
        <i class="icon warning sign"></i> {{confirm.title}}
    </div>
    <div class="description">
        <p style="{{confirm.isError?'color:red':''}}" ng-bind-html="confirm.message"></p>
    </div>
    <div class="buttons">
        <button class="ui button fluid {{confirm.isError ? 'orange':'green'}}"  ng-click="confirm.callback()">
            {{confirm.btnText}}
        </button>
    </div>
</coo-modal>
