<div class="complete page-with-title">
    <div class="page-header">
        <div class="tools">
            <a ng-click="path('/appointment')">
                <i class="icon angle arrow left"></i>
            </a>
        </div>
        <div class="title">
            预约完成
        </div>
        <div class="sub">
            您已成功预约服务
        </div>
    </div>

    <div class="message">
        <i class="icon check circle outline"></i>
        <div>恭喜，您已经成功预约{{service.name}}服务！</div>
    </div>

    <div class="store">
        <img ng-src="{{store.StoreImage}}">
        <div class="name">{{store.StoreName}}</div>
        <div class="address">{{store.StoreAddress}}</div>
        <div class="time">{{time.AccurateStartTime}}</div>
    </div>

    <div class="buttons">
        <a class="ui button fluid orange" ng-click="shopMap()">导航至门店</a>
        <a class="ui button fluid green" ng-click="path('/appointment/orders')">查看我的预约</a>
        <a class="ui button fluid basic" ng-click="close()">我知道了</a>
    </div>
</div>

<coo-loader show="loaderVisible"></coo-loader>