<div class="index">
    <div class="index-header ">
       <div class="date">
           <span class="day">{{top.day}}</span>
           <span class="month">{{top.month}}.</span>
       </div>

        <div class="slogan">
            <!--<i class="icon certificate"></i>-->
            <span>{{top.slogan}}</span>
        </div>

        <!--
        <div class="tools">
            <a href="#"><i class="icon alarm outline"></i></a>
            <a href="#"><i class="icon ellipsis horizontal"></i></a>
        </div>
        -->

    </div>

    <div class="index-service"  data-step="1" data-intro="点击可切换其他服务">
        <div class="item item{{item.sort}}" ng-repeat="item in category.items" ng-click="category.select(item)">
            <span class="name">{{item.name}}</span>
            <span class="sub">{{item.en}}</span>
        </div>

    </div>

    <div class="index-main">
        <div class="noStore" ng-show="loaded && appointment.store  == null"> 暂无提供相关服务的门店 </div>

        <div class="item" ng-click="car.modalVisible = true"  ng-show="appointment.store !=null" data-step="2" data-intro="如有多辆车，点击这里切换车辆">
            <div class="name">
                <i class="icon car"></i>
                <span> {{appointment.car.CarNum || '-'}}</span>
            </div>
            <span class="sub">
                <span>{{appointment.car.CarBrand || '-'}} {{appointment.car.CarModel }}</span>
            </span>
        </div>

        <div class="item" ng-click="store.modalVisible = true" ng-show="appointment.store !=null" data-step="3" data-intro="点击可切换门店">
            <div class="name">
                <i class="icon building"></i>
                <span ng-click="store.open(appointment.store.StoreID,$event)"  data-step="4" data-intro="点击可查看门店详情，选择该门店提供的其他服务">
                    {{appointment.store.StoreName || '-'}}
                    <div class="floating ui label small {{{'最近':'green','常去':'orange'}[appointment.store.Tag]}}" ng-if="appointment.store!=null && appointment.store.Tag!=null && appointment.store.Tag!=''">{{appointment.store.Tag}}</div>
                </span>
            </div>
            <div class="sub">
                <span>{{appointment.store.StoreAddress || '-'}}</span>
            </div>
            <div class="sub orange">
                <span>{{appointment.service.ServiceType || '-'}} </span>
                <coo-price value="{{appointment.service.Price}}"></coo-price>
            </div>
        </div>

        <div class="item" ng-click="time.modalVisible = true"  ng-show="appointment.store !=null"  data-step="6" data-intro="点击可查看更多可预约时间" data-position="top">
            <div class="name">
                <i class="icon time"></i>
                <span>  {{appointment.time.AccurateStartTime | shortTime}}</span>
            </div>
            <div class="sub times"  data-step="5" data-intro="修改预约时间" data-position="top">

                <span class="{{appointment.time.AccurateStartTime == item.AccurateStartTime ?'selected':''}}" ng-click="time.quickSelect(item,$event)" ng-repeat="item in time.quickItems ">
                    {{ item.AccurateStartTime | shortTime:1}}
                </span>
            </div>
        </div>

    </div>

    <div class="index-start" ng-click="appointment.toSubmit()" data-step="7" data-intro="约吧，亲！"  data-position="top">
        <button class="ui button big fluid green" ng-show="appointment.car && appointment.store && appointment.service && appointment.time">
            一键预约
        </button>
    </div>

    <div class="index-footer">

        <div class="item" ng-click="path('/stores/')">
            <i class="icon building outline"></i>
            <span class="name">所有门店</span>
        </div>

        <div class="item" ng-click="path('/appointment/preference/')">
            <i class="icon setting"></i>
            <span class="name">默认设置</span>
        </div>

        <div class="item"  ng-click="path('/appointment/orders/')">
            <i class="icon file text outline"></i>
            <span class="name">我的预约</span>
        </div>

    </div>

    <coo-loader show="loaderVisible"></coo-loader>


    <img class="poweredby" src="public/images/poweredby.png" ng-click="intro()">
</div>


<coo-modal size="small" show="appointment.submitVisible">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon add to cart"></i> 预约订单确认
    </div>
    <div class="description">
        <div class="ui header">{{user.CustomerName}} {{user.Sex}}：</div>
        <p>您的爱车 {{appointment.car.CarNum}} 预约了以下服务，请确认</p>

        <div class="ui list">
            <div class="item">
                <i class="icon time"></i>
                <div class="content">{{appointment.time.AccurateStartTime | shortTime}}</div>
            </div>
            <div class="item">
                <i class="icon building"></i>
                <div class="content">{{appointment.store.StoreName || '-'}}</div>
            </div>
            <div class="item">
                <i class="icon user"></i>
                <div class="content">
                    {{appointment.service.ServiceType}} 服务<br/>费用 <coo-price value="{{appointment.service.Price}}"></coo-price>  元
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="ui button fluid close" ng-click="appointment.submitVisible = false">
            容我三思
        </button>
        <button class="ui green button fluid"  ng-click="appointment.submit()">
            确认
        </button>
    </div>
</coo-modal>

<coo-modal size="large" show="car.modalVisible">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon car"></i> 选择车辆
    </div>
    <div class="description">
        <div class="ui list car-selector">
            <div class="item car {{item.CarGuid == appointment.car.CarGuid?'selected':''}}" ng-repeat="item in car.items" ng-click="car.select(item)">
                <div class="pn">{{item.CarNum}}</div>
                <div class="model">{{item.CarBrand}} {{item.CarModel}}</div>
                <i class="icon check mark"></i>
            </div>
        </div>
    </div>

</coo-modal>

<coo-modal size="large" show="time.modalVisible">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon time"></i> 选择时间
    </div>
    <div class="description">
        <div class="ui list time-selector">
            <div class="item" ng-if="time.items[index].length > 0" ng-repeat="(index,dayItems) in time.items">
                <div class="ui {{['green','blue','orange'][index]}} label title">{{['今天','明天','后天'][index]}}</div>
                <div class="times">
                    <span ng-repeat="item in time.items[index]" class="{{item.IsUsed != 0?'used':(item.AccurateStartTime == appointment.time.AccurateStartTime?'selected':'')}}" ng-click="time.select(item)">
                        {{ item.AccurateStartTime | shortTime:2}}
                    </span>
                </div>
            </div>
            <div style="padding: 10px;text-align: center;" ng-if="time.items[0].length == 0 && time.items[1].length == 0 && time.items[2].length == 0">
                没有可选时间，可能该服务已暂停
            </div>
        </div>
    </div>

</coo-modal>

<coo-modal size="large" show="store.modalVisible">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon building outline"></i> 选择门店
    </div>

    <div class="description">
        <div class="ui green secondary pointing menu two item ">
            <a class="item {{store.tabIndex == 'listView'?'active':''}}" ng-click="store.tabIndex = 'listView'">所有门店 </a>
            <a class="item {{store.tabIndex == 'mapView'?'active':''}}" ng-click="store.tabIndex = 'mapView'">地图模式</a>
        </div>

        <div class="shop-selector" ng-show="store.tabIndex == 'listView'">
            <div class="shop {{item.StoreID == appointment.store.StoreID ?'selected':''}}" ng-click="store.select(item)" ng-repeat="item in store.items">
                <img ng-src="{{item.StoreImage}}" title="门店照片">

                <a class="ui left ribbon label {{{'最近':'green','常去':'orange'}[item.Tag]}}"  ng-if="item.Tag != null && item.Tag != ''">{{item.Tag}}</a>

                <div class="name">{{item.StoreName}}</div>
                <div class="address">{{item.StoreAddress}}</div>
                <coo-rating value="{{item.Rating}}"></coo-rating>
                <div class="addition">
                    <div>
                        <i class="icon marker"></i>
                        {{item.Distance < 1000 ?(item.Distance +'m'): ((item.Distance / 1000).toFixed(1) +'km')  }}
                    </div>
                    <div>
                        <i class="icon comment"></i>
                        {{item.TotalComments}}
                    </div>
                    <div>
                        <i class="icon add to cart"></i>
                        {{item.StoreScale}}
                    </div>
                </div>
            </div>
        </div>

        <div class="map-selector" ng-show="store.tabIndex == 'mapView'">
            <div class="map" id="map">

            </div>
            <div class="shops">
                <div class="shop" ng-click="store.select(store.mapStore)">
                    <img ng-src="{{store.mapStore.StoreImage}}" title="门店照片">
                    <div class="name">{{store.mapStore.StoreName}}</div>
                    <div class="address">{{store.mapStore.StoreAddress}}</div>
                    <coo-rating value="{{store.mapStore.Rating}}"></coo-rating>
                    <div class="addition">
                        <div>
                            <i class="icon marker"></i>
                            {{store.mapStore.Distance < 1 ? (store.mapStore.Distance * 1000 +'m') : (store.mapStore.Distance +'km')}}
                        </div>
                        <div>
                            <i class="icon comment"></i>
                            {{store.mapStore.TotalComments}}
                        </div>
                        <div>
                            <i class="icon marker"></i>
                            {{store.mapStore.StoreScale}}
                        </div>
                    </div>
                </div>

                <div class="shop-change" ng-click="store.mapStoreChange(-1,$event)" ng-if="store.mapStoreIndex >0">
                    <i class="icon angle arrow left"></i>
                </div>
                <div class="shop-change right" ng-click="store.mapStoreChange(1,$event)"  ng-if="store.mapStoreIndex < store.items.length -1">
                    <i class="icon angle arrow right"></i>
                </div>

                <div class="shop-index">
                    {{store.mapStoreIndex + 1}}/{{store.items.length}}
                </div>
            </div>
        </div>

    </div>

</coo-modal>


<coo-modal size="small" show="error.modalVisible">
    <i class="icon close" ng-show="error.closable"></i>
    <div class="title">
        <i class="icon warning sign"></i> 提示
    </div>
    <div class="description">
        <p style="color:red;">{{error.message}}</p>
    </div>
    <div class="buttons">
        <button class="ui button fluid orange"  ng-click="error.retry()">
            {{error.btnText}}
        </button>
    </div>
</coo-modal>



