<div class="orders page-with-title-and-tabs">
    <div class="page-header">
        <div class="tools">
            <a ng-click="path('/appointment')" ng-if="isRoot==0">
                <i class="icon angle arrow left"></i>
            </a>
        </div>
        <div class="title">
            我的预约
        </div>
        <div class="sub">
            我的预约历史纪录
        </div>
    </div>
    <div class="page-tabs">
        <div class="ui green secondary pointing menu five item ">
            <a class="item {{value.data == category?'active':''}}" ng-repeat="(key,value) in categories" ng-click="categorySelect(value.data)">{{value.label}}</a>
        </div>
    </div>


    <div class="noOrders" ng-if="orders.length == 0 && isLoaded">
        没有相关预约
    </div>

    <div ng-repeat="item in orders" ng-if="orders.length > 0">
        <div class="order-list">
            <div class="orderDetail" ng-repeat="appointment in item.Appointments" ng-click="detail(appointment)">
                <img ng-src="{{appointment.StoreImage}}">
                <div class="appointment">{{appointment.RemarkOfCustomer}}</div>
                <div class="carNum">{{appointment.CarNum}}</div>
                <div class="storeName">{{appointment.StoreName}}</div>
                <div class="date">{{appointment.TimeOfWeek}} ({{appointment.AccurateStartTime}})</div>
                <span class="status ui left ribbon label {{categoryLabels[appointment.Status] || 'blue'}}">{{appointment.Status}}</span>

                <div class="cancel" ng-if="appointment.Status == '未完成'" ng-click="toCancel(appointment,$event)">取消预约</div>
            </div>
        </div>

    </div>

</div>

<coo-loader show="loaderVisible"></coo-loader>


<coo-modal size="small" show="errorModalVisible">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon warning sign"></i> 提示
    </div>
    <div class="description">
        <p style="color:red;">查询失败，请重试</p>
    </div>
    <div class="buttons">
        <button class="ui button fluid orange"  ng-click="init()">
            重试
        </button>
    </div>
</coo-modal>


<coo-modal size="small" show="cancelModalVisible">
    <i class="icon close"></i>
    <div class="title">
        <i class="icon close"></i> 预约订单取消确认
    </div>
    <div class="description">
        <div class="ui header">确认取消？</div>
        <p>您在 <br/>{{cancelAppointment.StoreName}} <br/>{{cancelAppointment.AccurateStartTime}}<br/>预约的 {{cancelAppointment.RemarkOfCustomer}} 服务?</p>

    </div>
    <div class="buttons">
        <button class="ui orange button fluid"  ng-click="cancel()">
            确认取消
        </button>
    </div>
</coo-modal>
