<div class="default-setting page-with-title">
    <div class="page-header">
        <div class="tools">
            <a ng-click="path('/appointment')">
                <i class="icon angle arrow left"></i>
            </a>
        </div>
        <div class="title">
            默认设置
        </div>
        <div class="sub">
            设置默认车辆和门店
        </div>
    </div>

    <div class="ui label orange small">
        默认车辆
    </div>

    <div class="ui list selector">
        <div class="item {{car.IsDefault?'selected':''}}" ng-repeat="car in cars" ng-click="save('PreferenceCar',car)">
            <div class="name">{{car.Name}}</div>
            <div class="sub">{{car.Description}}</div>
            <i class="icon check mark"></i>
        </div>
    </div>

    <div class="ui label orange small">
        默认门店
    </div>

    <div class="ui list selector">
        <div class="item {{store.IsDefault?'selected':''}}" ng-repeat="store in stores"  ng-click="save('PreferenceStore',store)">
            <div class="name">{{store.Name}}</div>
            <div class="sub">{{store.Description}}</div>
            <i class="icon check mark"></i>
        </div>
    </div>

    <coo-loader show="loaderVisible"></coo-loader>
</div>

